[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
scikit-learn = "*"
numpy = "*"
pandas = "*"
matplotlib = "*"
twine = "*"

[dev-packages]
twine = "*"
pylint = "*"

[requires]
python_version = "3"
